

<div class="card mt-3 border border-primary" >
    <div class="card-header border-0  bg-light-primary hoverable ribbon ribbon-start ribbon-top ribbon-clip">    
        <div class="ribbon-label">
            <i class="pi pi-angle-down text-white" ></i>
            <i class="pi pi-angle-up text-white" ></i>
            <span class="ribbon-inner bg-primary"></span>
        </div>    
        <div class="card-title" >
            <div class="d-flex align-items-center position-relative my-1">              
                <h5 class="text-primary"> Deneme </h5> 
                <span class="badge badge-danger mr-3">Yeni</span>
            </div>             
        </div>                
        <div class="card-toolbar">            
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">  
                <span class="badge badge-primary mr-3">yjtyuytu</span>                             
            </div>            
        </div>    
    </div>
    <!--begin::Card body-->
    <div class="card-body">
        Test
    </div>    
</div>
<!--end::Card-->
